@import url('https://fonts.googleapis.com/css2?family=Anton&family=Madimi+One&family=Pacifico&display=swap');
/* font-family: "Anton", sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --black:#0e100f;
    --orange-white:#fffce1;
    --white:#fff;
    --green:#004d43;

}
body{
    transition: background-color  ease-out .5s;
}
body[theme='black']{
    background-color: var(--black);
}
body[theme='black'] .section{
    color: var(--white);
}
body[theme='green']{
    background-color: var(--green);
}
body[theme='green'] .section{
    color: var(white);
}
body[theme='white']{
    background-color: var(--white);
}
body[theme='white'] .section{
    color: var(balck);
}
